/* 
  rem 屏幕适配
  1 公式 动态的设置html的fontsize
  2 设计稿=> 基础值 要适配的屏幕的宽度  fontsize
      基础值=>100px
      要适配的屏幕的宽度 当前的屏幕的宽度
      设计稿 没有  宽度  375px
      fontsize
  3 可以加入一段js 来实现!!!!
   */

body {
    line-height: normal;
}

.pyg_view {
    display: flex;
    overflow: hidden;
    .left {
        width: 1rem;
        overflow: hidden;
        background-color: #cccccc;
        ul {
            li {
                font-size: 0.16rem;
                text-align: center;
                padding: 0.05rem 0;
            }
            .active {
                background-color: #fff;
                border-left: 3px solid #0094ff;
            }
        }
    }
    .right {
        flex: 1;
        overflow: scroll;
        background-color: #fff;
        .goods_grund {
            font-size: 0.14rem;
            .gg_title {
                color: #0094ff;
                display: flex;
                justify-content: space-between;
                padding-right: 15px;
                span:first-child {
                    padding: 0.05rem;
                }
                span:last-child {
                    flex: 1;
                    height: 1px;
                    background-color: #000;
                    align-self: center;
                }
            }
            ul {
                display: flex;
                flex-wrap: wrap;
                li {
                    width: 33.33%;
                    text-align: center;
                    a {
                        color: #000;
                        img {
                            width: 60%;
                            margin: 0 auto;
                        }
                        
                    }
                }
            }
        }
    }
}