.pyg_view {
    .reg_from {
        padding: 10px;
        font-size: 14px;
        input{
            font-size: 14px;
        }
        .code-row{
            position: relative;
            #code_btn{
                position: absolute;
                top: 0;
                right: 10px;
                width: auto;
            }
        }
    }
    .btn_tool {
        display: flex;
        padding: 10px;
        button{
            flex: 1;
            padding: 10px 0;
        }
    }
}